.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    115.3deg,
    rgb(53, 145, 185) 7.4%,
    rgb(255, 255, 255) 103.1%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
}

.form {
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  width: fit-content;
  min-width: 380px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.smallLink a {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.95rem;
  text-decoration: none;
}

.form .heading {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
}

.form button {
  border: none;
  outline: none;
  padding: 8px 16px;
  background-color: #10293e;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: 200ms;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.form button:hover {
  background-color: rgb(43, 172, 223);
  color: #fff;
}

.form button:active {
  transform: translateY(1px);
}

.form button:disabled {
  background-color: gray !important;
}

.form .error {
  font-size: 0.875rem;
  font-weight: bold;
  color: #f12929;
  width: 100%;
  text-align: center;
}

.form .bottom p {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.bottom p a {
  color: #10293e;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
